<main>
  <aside>
    <h2><span>Dev</span>challenges.io</h2>
    <ul class="nav-list" [class.active]="navActive">
      <li *ngFor="let item of menuItems">
        <a href={{item.link}}>{{ item.name }}</a>
      </li>
    </ul>
    <div class="burger" [class.active]="burgerActive" (click)="toggleMenu()">
      <div ngClass="bar"></div>
      <div ngClass="bar"></div>
      <div ngClass="bar"></div>
    </div>
  </aside>
  <section ngClass="content">
    <router-outlet></router-outlet>
    <footer ngClass="footer">
      <span>Icons: https://material.io/resources/icons/?style=round</span>
      <p>created by
        <a href="https://github.com/jcom-dev" target="_blank">Juan Oscco Mori</a> - devChallenges.io
      </p>
    </footer>
  </section>
</main>
