<h1>Inputs</h1>

<article ngClass="default-content">
  <div ngClass="default-colum">
    <span>app-input</span>
    <app-input></app-input>
  </div>
  <div ngClass="default-colum">
    <span>&:hover</span>
    <app-input></app-input>
  </div>
  <div ngClass="default-colum">
    <span>&:focus</span>
    <app-input></app-input>
  </div>
</article>

<article ngClass="default-content">
  <div ngClass="default-colum">
    <span>app-input error</span>
    <app-input error></app-input>
  </div>
  <div ngClass="default-colum">
    <span>&:hover</span>
    <app-input error></app-input>
  </div>
  <div ngClass="default-colum">
    <span>&:focus</span>
    <app-input error></app-input>
  </div>
</article>

<article ngClass="default-small">
  <div ngClass="default-colum">
    <span>app-input disabled </span>
    <app-input disabled></app-input>
  </div>
</article>

<article ngClass="default-small">
  <div ngClass="default-colum">
    <span>app-input helperText=”Some interesting text”</span>
    <app-input helperText="Some interesting text"></app-input>
  </div>
  <div ngClass="default-colum">
    <span>app-input helperText=”Some interesting text” error</span>
    <app-input helperText="Some interesting text" error></app-input>
  </div>
</article>


<article ngClass="default-sm">
  <div ngClass="default-colum">
    <span>app-input startIcon</span>
    <app-input startIcon></app-input>
  </div>
  <div ngClass="default-colum">
    <span>app-input endIcon</span>
    <app-input endIcon></app-input>
  </div>
</article>

<article ngClass="default-sm">
  <div ngClass="default-colum">
    <span>app-input value=”Text”</span>
    <app-input value="Text"></app-input>
  </div>
</article>

<article ngClass="default-sm">
  <div ngClass="default-colum">
    <span>app-input size=”sm”</span>
    <app-input size="sm"></app-input>
  </div>
  <div ngClass="default-colum">
    <span>app-input size=”md”</span>
    <app-input size="md"></app-input>
  </div>
</article>

<article>
  <div ngClass="default-colum">
    <span>app-input fullWidth</span>
    <app-input fullWidth></app-input>
  </div>
</article>

<article ngClass="default-sm">
  <div ngClass="default-colum">
    <span>app-input [multiline]="true" [rows]="4"</span>
    <app-input [multiline]="true" [rows]="4"></app-input>
  </div>
</article>
